*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    all: unset;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: "Nunito", sans-serif;
    color: black;
    font-size: 28px;
    font-weight: 300;
    line-height: 1.6;
    background-color: rgb(255, 255, 255);
}
button {
    all: unset;
}
.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}
.content {
    flex: 1 0 auto;
}
.disable-scroll {
    overflow: hidden;
}
.icon_wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    aspect-ratio: 4/4;
    height: 50px;
    border-radius: 50%;
    border: 1px solid #87b9b0;
}
.subheader-container {
    width: 100%;
    max-width: 1332px;
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.subheader {
    font-weight: 600;
    text-transform: uppercase;
}
.products_header {
    color: white;
}
.fit-contain {
    object-fit: contain;
}
.fit-cover {
    object-fit: cover;
}
.header {
    z-index: 2;
    background-color: rgb(255, 255, 255);
    position: fixed;
    width: 100%;
    top: 0;
    display: flex;
    justify-content: center;
    font-weight: 600;
    font-size: 18px;
    padding: 1rem;
}
.header-wrapper {
    position: relative;
    width: 100%;
    max-width: 1332px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo-wrapper {
    z-index: 2;
}
.nav_container {
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo-wrapper a {
    cursor: pointer;
}
.burger-menu {
    z-index: 2;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.burger-menu span {
    display: block;
    height: 3px;
    background-color: #000;
    border-radius: 2px;
    transition: transform 0.3s ease, opacity 0.3s ease;
}
ul {
    all: unset;
    list-style-type: none;
}
.nav-list {
    display: flex;
    gap: 1rem;
}
.nav-link {
    padding: 1rem;
    transition: color 0.2s;
}
.nav-link.active {
    color: #46dcc2;
}
.nav-link:hover {
    cursor: pointer;
    color: #87b9b0;
}
.header_right_section {
    display: flex;
    gap: 2rem;
    align-items: center;
}
.language-toggle {
    z-index: 2;
}
.language-toggle .language-button {
    cursor: pointer;
    padding: 0 10px;
    font-weight: normal;
    transition: color 0.2s;
    color: rgba(63, 63, 63, 0.65);
}
.language-toggle .active {
    color: #87b9b0;
}
.hero-section {
    min-height: calc(100vh - 105px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /*background-image: url("assets/images/home-hero-image.JPG");*/
    /*background-position: center;*/
    /*background-repeat: no-repeat;*/
    /*background-size: cover;*/
    position: relative;
}
.hero-section::after {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.72), rgba(0, 0, 0, 0.15) 50%);
}
.hero-section-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.hero-header-style {
    color: #73b6aa;
    text-transform: uppercase;
    font-size: clamp(3rem, 1.1971rem + 5.7692vw, 12rem);
    z-index: 1;
}

.hero_subheader {
    color: #73b6aa;
    font-weight: 600;
    font-size: clamp(1rem, 1.1971rem + 5.7692vw, 5rem);
}
.partners-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
}
.carousel {
    padding: 2rem 0;
    width: 100%;
    max-width: calc(100vw - 16px);
    overflow: hidden;
    display: flex;
}

.carousel-section {
    display: flex;
    width: 100%;
    flex-direction: column;
    padding: 1rem 0;
    gap: 2rem;
}

.carousel-track {
    display: flex;
    gap: 3rem;
    flex-wrap: wrap;
}
.carousel[data-animated='true'] {
    overflow: hidden;
    -webkit-mask: linear-gradient(
            90deg,
            transparent,
            white 20%,
            white 80%,
            transparent
    );
    mask: linear-gradient(90deg,
    transparent,
    white 20%,
    white 80%,
    transparent);
}
.carousel[data-animated='true'] .carousel-track{
    width: max-content;
    flex-wrap: nowrap;
    animation: scroll 60s linear infinite;
}

.carousel-item {
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
    min-width: 100px;
}

.carousel-item img {
    max-width: 150px;
    display: block;
}
.location-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.contacts {
    display: flex;
    align-items: flex-start;
    gap: 1rem;
}
.address {
    grid-template-columns: 2fr 1fr;
    display: grid;
    width: 100%;
    gap: 1rem;
}
.location-section-wrapper {

}
.contacts_wrapper {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.contacts_header {
    color: white;
    line-height: 1.2;
}
.contact-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    line-height: 1.6;
    font-weight: 500;
    font-size: 24px;
    background-color: #ffffff;
    color: #3a3a3a;
    padding: 2rem;
    border-radius: 25px;
    box-shadow: 0 4px 44px rgba(0, 0, 0, 0.11);
}
.contact-container_inner {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.contacts_rows {
    display:flex;
    flex-direction: column;
    gap: 0.5rem;
}
.contact_row {
    display: flex;
    gap: 1rem;
    align-items: center;
}
.card_icon_wrapper {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.contact-container h3 {
    color: #000000;
}
.contact_link {
    transition: color 0.2s;
}
.contact_link:hover {
    cursor: pointer;
    color: #87b9b0;
}
.address_wrapper {
    min-width: max-content;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background-color: #ffffff;
    color: #3a3a3a;
    padding: 2rem;
    border-radius: 25px;
    box-shadow: 0 4px 44px rgba(0, 0, 0, 0.11);
}
.address_row {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.address_header {
    line-height: 1.2;
}
.map_image {
    width: 100%;
    object-fit: cover;
    border-radius: 25px;
    overflow: hidden;
}
.about-us-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px 0;
}
.bottom_button_wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 1rem 0;
    width: 100%;
}
.pdf-button {
    background-color: #ababab;
    color: white;
    padding: 15px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    gap: 1rem;
    transition: background-color 0.3s;
}
.pdf-button:hover {
    background-color: #87b9b0;
}
.pdf-button:hover .button_icon_wrapper {
    background-color: #ababab;
}
.button_icon_wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height:50px;
    border-radius: 15px;
    transition: background-color 0.3s;
    background-color: #87b9b0;
}
.about-us-image-container {
    height: 100%;
}
.about-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.contact-us-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: aliceblue;
    padding: 50px 0;
}
.partners-header-container {
    padding: 1rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #73b6aa;
}
.section-header {
    margin-top: 50px;
    padding: 1rem;
    background-color: aliceblue;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.section-header h3, h2 {
    color: black;
}
.container {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 1332px;
    width: 100%;
}
.footer-contacts-col {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}
.footer-contacts_header {
    font-size: 22px;
    color: #656565;
}
.footer-bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 0 20px;
}
.footer-bottom p {
    font-size: 18px;
    color: #3a3a3a;
}
.row {
    display: flex;
    gap: 2.5rem;
    flex-wrap: wrap;
}
.justify-sb {
    justify-content: space-between;
}
.align-end {
    align-items: flex-end;
}
.col {
    display: flex;
    flex-direction: column;
}
.gap-2 {
    gap: 2rem;
}
.row-2-wrapper {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    display: grid;
    padding: 1rem 0;
    align-items: start;
    width: 100%;
    gap: 1rem;
}
.row-3-wrapper {
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    display: grid;
    grid-gap: 2.5rem;
    padding-bottom: 2.5rem;
}
.gallery-section {
    display: flex;
    flex-direction: column;
    background-color: white;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(11, 5vw);
    grid-gap: 1rem;
}

.gallery__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gallery__item{
    background-color: rgba(255, 255, 255, 0.76);
    overflow: hidden;
}

.gallery__item--1 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 7;
}
.gallery__item--2 {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 7;
}
.gallery__item--3 {
    grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 6;
}
.gallery__item--6 {
    grid-column-start: 7;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 6;
}
.gallery__item--4 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 7;
    grid-row-end: 12;
}
.gallery__item--5 {
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 6;
    grid-row-end: 12;
}
#product-section {
    scroll-margin-top: 105px;
}
#contact-section {
    scroll-margin-top: 105px;
}
#about-us-section {
    scroll-margin-top: 105px;
}
.product-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.table-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card {
    border-radius: 3rem;
    background-color: rgba(255, 255, 255, 0.76);
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
.card__footer {
    padding: 1rem;
    color: black;
    background-color: whitesmoke;
}
.catalog-card {
    position: relative;
    background-color: #e3e3e3;
    border-radius: 25px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    /*min-height: 340px;*/
    aspect-ratio: 1;
    background-position: center;
    background-size: cover;
}

.catalog-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.image-container {
    /*padding: 15px;*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-container img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    object-fit: cover;
    display: block;
}

.info {
    position: absolute;
    bottom: 5px;
    left: 5px;
    right: 5px;
    background-color: #ffffff;
    color: white;
    padding: 20px;
    border-radius: 20px;
}

.info .card_header {
    margin: 0;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 1;
    color: #101010;
}

.info p {
    color: #101010;
    font-weight: 500;
}

.additional_info_text {
    line-height: 1.2;
    text-align: center;
    vertical-align: center;
    font-size: 14px;
    position: absolute;
    top: 5px;
    left: 5px;
    width: min-content;
    padding: 0.7rem 1rem;
    background-color: #73b6aa;
    border-radius: 20px 20px 20px 4px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-transform: uppercase;
    font-weight: 500;
}

.size_text {
    font-size: 14px;
    text-transform: uppercase;
}

.gallery_products {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 2.5rem;
    padding: 50px 0;
}

@keyframes scroll {
    to {
        transform: translate(calc(-50% - 1rem));
    }
}

@keyframes fadeOut {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes spacingUp {
    from {
        grid-gap: 0.5rem;
    }
    to {
        grid-gap: 3rem;
    }
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 16px;
    text-align: left;
}

thead tr {
    background-color: #343a40;
    color: #fff;
    text-align: left;
    font-weight: bold;
}

thead th {
    padding: 10px;
}

tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

tbody td {
    padding: 12px 10px;
    border: 1px solid #ddd;
}

/*Contacts*/
.hero {
    position: relative;
    height: 30vw;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: center;
}

.parallax-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("https://www.dtek-kem.com.ua/media/site/hero-bg--5-1905.jpg");
    background-size: cover;
    object-fit: cover;
    background-position: center;
    z-index: -1;
}
.parallax-image.contacts-image {
    background-position-y: -320px;
    background-image: url("assets/images/contacts-hero-image-upscale.webp");
}
.parallax-image.about-us-image {
    background-position-y: -120px;
    background-image: url("assets/images/about-hero-image.webp");
}
.parallax-image.products-image {
    background-image: url("assets/images/products-hero-image.webp");
}
.parallax-image.home-image {
    background-image: url("assets/images/home-hero-image.webp");
}
.hero-content {
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    border-left: 4px solid #73b6aa;
    padding-left: 1.5rem;
    gap: 2rem;
    text-align: left;
}
.about_us_header {
    color: white;
}
.about_description {
    font-size: 22px;
}
.contacts_description {
    text-align: left;
    max-width: 300px;
    font-size: 22px;
}
.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.68) .75%,transparent 42.09%);
    z-index: 0;
}
footer {
    display: flex;
    padding: 50px 0 0;
    align-items: center;
    justify-content: center;
    background-color: #f3f3f3;
    flex: 0 0 auto;
}
@media (max-width: 992px) {
    .row-2-wrapper {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media screen and (max-width: 768px) {
    .about-us-text-container {
        max-width: 100%;
        font-size: 22px;
    }
    table {
        font-size: 14px;
    }

    tbody td {
        padding: 8px;
    }
}

@media screen and (max-width: 480px) {
    table {
        font-size: 12px;
    }

    tbody td {
        padding: 5px;
    }

    table,
    thead,
    tbody,
    th,
    td,
    tr {
        display: block;
    }

    td:nth-child(1) {
        display: none;
    }

    td:nth-child(2) {
        min-width: 120px;
    }

    thead tr {
        display: none;
    }

    tbody tr {
        margin-bottom: 10px;
        border: 1px solid #ccc;
        display: flex;
    }

    tbody td {
        display: flex;
        justify-content: space-between;
        padding: 10px;
        border: none;
        border-bottom: 1px solid #ddd;
        position: relative;
    }
}

@media (min-width: 1200px) {
    .gallery {

    }
}

@media (min-width: 768px) and (max-width: 1199px) {
    .address {
        grid-template-columns: 1fr;
    }
    .gallery {
        grid-gap: 0.5rem;
    }
}

@media (max-width: 767px) {
    #products_description {
        font-size: 22px;
    }
    .address {
        grid-template-columns: 1fr;
    }
    .bottom_button_wrapper {
        justify-content: center;
    }
    .gallery {
        grid-gap: 0.5rem;
        grid-template-columns: repeat(2, 1fr);
    }
    .gallery__item--1 {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 14;
        grid-row-end: 16;
    }
    .gallery__item--2 {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 12;
        grid-row-end: 14;
    }
    .gallery__item--3 {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 14;
        grid-row-end: 16;
    }
    .gallery__item--6 {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 12;
        grid-row-end: 14;
    }
    .gallery__item--4 {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 16;
        grid-row-end: 18;
    }
    .gallery__item--5 {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 12;
    }
    .nav {
        position: fixed;
        width: 100%;
        height: 100vh;
        top: 0;
        left: 0;
        padding-top: 100px;
        padding-left: 16px;
        padding-right: 20px;
        background-color: #8fe8d0;
        overflow: auto;
        transform: translateY(-100%);
        transition: .4s;
        z-index: 1;
    }
    .nav.open {
        transform: translateY(0);
    }
    .nav-list {
        font-size: 24px;
        flex-direction: column;
    }
    .burger-menu {
        display: flex;
    }

    .nav.open {
        transform: translateY(0);
    }
    .burger-menu.open span:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .burger-menu.open span:nth-child(2) {
        opacity: 0;
    }

    .burger-menu.open span:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}

@media (max-width: 480px) {
    .gallery {
        grid-gap: 0.2rem;
    }
}
