*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
* {
    /*outline: 4px solid green !important;*/
}
a {
    all: unset;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: "Nunito", sans-serif;
    color: black;
    font-size: 28px;
    font-weight: 300;
    line-height: 1.6;
    background-color: rgb(255, 255, 255);
    /*overflow-x: hidden;*/
}
button {
    all: unset;
}
.disable-scroll {
    overflow: hidden;
}
.icon_wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    aspect-ratio: 4/4;
    height: 50px;
    border-radius: 50%;
    border: 1px solid #87b9b0;
}
.subheader-container {
    width: 100%;
    max-width: 1332px;
    display: flex;
    flex-direction: column;
    padding: 1rem;
}
.subheader {
    font-weight: 600;
    text-transform: uppercase;
}
.fit-contain {
    object-fit: contain;
}
.fit-cover {
    object-fit: cover;
}
.header {
    z-index: 1;
    background-color: rgb(255, 255, 255);
    position: sticky;
    top: 0;
    display: flex;
    justify-content: center;
    font-weight: 600;
    font-size: 18px;
    padding: 1rem;
}
.header-wrapper {
    position: relative;
    width: 100%;
    max-width: 1332px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo-wrapper {
    z-index: 2;
}
.nav_container {
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo-wrapper a {
    cursor: pointer;
}
.burger-menu {
    z-index: 2;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.burger-menu span {
    display: block;
    height: 3px;
    background-color: #000;
    border-radius: 2px;
    transition: transform 0.3s ease, opacity 0.3s ease;
}
ul {
    all: unset;
    list-style-type: none;
}
.nav-list {
    display: flex;
    gap: 1rem;
}
.nav-link {
    padding: 1rem;
    transition: color 0.2s;
}
.nav-link:hover {
    cursor: pointer;
    color: #87b9b0;
}
.header_right_section {
    display: flex;
    gap: 2rem;
    align-items: center;
}
.language-toggle {
    z-index: 2;
}
.language-toggle .language-button {
    cursor: pointer;
    padding: 0 10px;
    font-weight: normal;
    transition: color 0.2s;
    color: rgba(63, 63, 63, 0.65);
}
.language-toggle .active {
    color: #87b9b0;
}
.hero-section {
    min-height: calc(100vh - 105px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.hero-section-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.hero_header {
    background: -webkit-linear-gradient(#87b9b0,#87b9b0, rgba(31, 31, 31, 0));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;
    font-size: clamp(3rem, 1.1971rem + 5.7692vw, 12rem);
}
.hero_subheader {
    color: #87b9b0;
    font-weight: 500;
    font-size: clamp(1rem, 1.1971rem + 5.7692vw, 4rem);
}
.partners-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.carousel {
    border-top: 2px solid var(--main-orange);
    border-bottom: 2px solid var(--main-orange);
    padding: 2rem 0;
    width: 100%;
    max-width: calc(100vw - 16px);
    overflow: hidden;
    display: flex;
}

.carousel-section {
    display: flex;
    width: 100%;
    flex-direction: column;
    padding: 1rem 0;
    gap: 2rem;
}

.carousel-track {
    display: flex;
    gap: 3rem;
    flex-wrap: wrap;
}
.carousel[data-animated='true'] {
    overflow: hidden;
    -webkit-mask: linear-gradient(
            90deg,
            transparent,
            white 20%,
            white 80%,
            transparent
    );
    mask: linear-gradient(90deg,
    transparent,
    white 20%,
    white 80%,
    transparent);
}
.carousel[data-animated='true'] .carousel-track{
    width: max-content;
    flex-wrap: nowrap;
    animation: scroll 60s linear infinite;
}

.carousel-item {
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
    min-width: 100px;
}

.carousel-item img {
    max-width: 150px;
    display: block;
}
.location-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.contacts {
    display: flex;
    align-items: flex-start;
    gap: 1rem;
}
.address {
    display: flex;
    align-items: flex-start;
    gap: 1rem;
}
.location-section-wrapper {

}
.contacts_wrapper {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.contacts_header {
    line-height: 1.2;
}
.contact-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    line-height: 1.6;
    font-weight: 500;
    font-size: 24px;
    background-color: #ffffff;
    color: #3a3a3a;
    padding: 2rem;
    border-radius: 25px;
}
.contact-container h3 {
    color: #000000;
}
.contact_link {
    transition: color 0.2s;
}
.contact_link:hover {
    cursor: pointer;
    color: #87b9b0;
}
.address_wrapper {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.address_header {
    line-height: 1.2;
}
.map_image {
    object-fit: contain;
    width: 100%;
}
.about-us-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /*animation: fadeOut 2s forwards;*/
    /*animation-timing-function: scroll();*/
    /*animation-timeline: scroll();*/
}

.about-us-image-container {
    height: 100%;
}
.about-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.contact-us-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: aliceblue;
    /*background-color: #87b9b0;*/
}
.section-header {
    padding: 1rem;
    background-color: aliceblue;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.section-header h3, h2 {
    color: black;
}
.container {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 1332px;
    width: 100%;
}
.row-2-wrapper {
    grid-template-columns: repeat(2, 1fr);
    display: grid;
    padding: 1rem 0;
    align-items: start;
    width: 100%;
    gap: 1rem;
}
.row-3-wrapper {
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    display: grid;
    grid-gap: 1.5rem;
}
.gallery-section {
    display: flex;
    flex-direction: column;
    /*align-items: center;*/
    /*justify-content: center;*/
}

.gallery {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(12, 5vw);
    grid-gap: 1rem;
    /*animation: spacingUp 2s forwards;*/
    /*animation-timing-function: scroll();*/
    /*animation-timeline: scroll();*/
}

.gallery__img {
    width: 100%;
    /*object-fit: cover;*/
    /*width: 100%;*/
    height: 100%;
    /*object-fit: cover;*/
    /*transition: transform 0.3s;*/
}

.gallery__item{
    /*border-radius: 3rem;*/
    background-color: rgba(255, 255, 255, 0.76);
    overflow: hidden;
}

.gallery__item--1 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 7;
}
.gallery__item--2 {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 7;
}
.gallery__item--3 {
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 5;
}
.gallery__item--4 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 7;
    grid-row-end: 12;
}
.gallery__item--5 {
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 5;
    grid-row-end: 12;
}
#product-section {
    scroll-margin-top: 105px;
}
#contact-section {
    scroll-margin-top: 105px;
}
#about-us-section {
    scroll-margin-top: 105px;
}
.product-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.table-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card {
    border-radius: 3rem;
    background-color: rgba(255, 255, 255, 0.76);
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
.card__footer {
    padding: 1rem;
    color: black;
    background-color: whitesmoke;
}
.catalog-card {
    position: relative;
    padding: 5px;
    background-color: #e3e3e3;
    border-radius: 25px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.catalog-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.image-container {
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-container img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.info {
    background-color: #a2a2a2;
    color: white;
    padding: 20px;
    border-radius: 20px;
}

.info .card_header {
    margin: 0;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 1;
}

.info p {
    color: #101010;
    font-weight: 500;
}

.additional_info_text {
    line-height: 1.2;
    text-align: center;
    vertical-align: center;
    font-size: 14px;
    position: absolute;
    top: 5px;
    left: 5px;
    width: min-content;
    padding: 1rem 1.5rem;
    background-color: #87b9b0;
    border-radius: 20px 20px 20px 4px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-transform: uppercase;
    font-weight: 500;
}

.size_text {
    font-size: 14px;
    /*color: #ADB5BD;*/
    text-transform: uppercase;
}
.gallery__item:hover .gallery__img {
    /*transform: scale(1.01);*/
}



.gallery_products {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    /*grid-template-columns: repeat(3, 1fr);*/
    grid-gap: 2.5rem;
}

@keyframes scroll {
    to {
        transform: translate(calc(-50% - 1rem));
    }
}

@keyframes fadeOut {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes spacingUp {
    from {
        grid-gap: 0.5rem;
    }
    to {
        grid-gap: 3rem;
    }
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 16px;
    text-align: left;
}

thead tr {
    background-color: #343a40;
    color: #fff;
    text-align: left;
    font-weight: bold;
}

thead th {
    padding: 10px;
}

tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

tbody td {
    padding: 12px 10px;
    border: 1px solid #ddd;
}

@media (max-width: 992px) {
    .row-2-wrapper {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media screen and (max-width: 768px) {
    .about-us-text-container {
        max-width: 100%;
        font-size: 22px;
    }
    table {
        font-size: 14px;
    }

    tbody td {
        padding: 8px;
    }
}

@media screen and (max-width: 480px) {
    table {
        font-size: 12px;
    }

    tbody td {
        padding: 5px;
    }

    table,
    thead,
    tbody,
    th,
    td,
    tr {
        display: block;
    }

    td:nth-child(1) {
        display: none;
        /*min-width: 60px;*/
    }

    td:nth-child(2) {
        min-width: 120px;
    }

    thead tr {
        /*display: flex;*/
        display: none;
    }

    tbody tr {
        margin-bottom: 10px;
        border: 1px solid #ccc;
        display: flex;
    }

    tbody td {
        display: flex;
        justify-content: space-between;
        padding: 10px;
        border: none;
        border-bottom: 1px solid #ddd;
        position: relative;
    }

    /*tbody td::before {*/
    /*    content: attr(data-label);*/
    /*    font-weight: bold;*/
    /*    width: 100px;*/
    /*    flex-shrink: 0;*/
    /*}*/
}

/* Desktop view */
@media (min-width: 1200px) {
    .gallery {

    }
}

/* Tablet view */
@media (min-width: 768px) and (max-width: 1199px) {
    .gallery {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: unset;
        grid-gap: 0.5rem;
    }
    .gallery__item--1 {
        grid-column-start: unset;
        grid-column-end: unset;
        grid-row-start: unset;
        grid-row-end: unset;
    }
    .gallery__item--2 {
        grid-column-start: unset;
        grid-column-end: unset;
        grid-row-start: unset;
        grid-row-end: unset;
    }
    .gallery__item--3 {
        grid-column-start: unset;
        grid-column-end: unset;
        grid-row-start: unset;
        grid-row-end: unset;
    }
    .gallery__item--4 {
        grid-column-start: unset;
        grid-column-end: unset;
        grid-row-start: unset;
        grid-row-end: unset;
    }
    .gallery__item--5 {
        grid-column-start: unset;
        grid-column-end: unset;
        grid-row-start: unset;
        grid-row-end: unset;
    }
}

/* Mobile view */
@media (max-width: 767px) {
    #products_description {
        font-size: 22px;
    }
    .gallery {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: unset;
        grid-gap: 0.5rem;
    }
    .gallery__item--1 {
        grid-column-start: unset;
        grid-column-end: unset;
        grid-row-start: unset;
        grid-row-end: unset;
    }
    .gallery__item--2 {
        grid-column-start: unset;
        grid-column-end: unset;
        grid-row-start: unset;
        grid-row-end: unset;
    }
    .gallery__item--3 {
        grid-column-start: unset;
        grid-column-end: unset;
        grid-row-start: unset;
        grid-row-end: unset;
    }
    .gallery__item--4 {
        grid-column-start: unset;
        grid-column-end: unset;
        grid-row-start: unset;
        grid-row-end: unset;
    }
    .gallery__item--5 {
        grid-column-start: unset;
        grid-column-end: unset;
        grid-row-start: unset;
        grid-row-end: unset;
    }
    .nav {
        position: fixed;
        width: 100%;
        height: 100vh;
        top: 0;
        left: 0;
        padding-top: 100px;
        padding-left: 16px;
        padding-right: 20px;
        background-color: #8fe8d0;
        overflow: auto;
        transform: translateY(-100%);
        transition: .4s;
        z-index: 1;
    }
    .nav.open {
        transform: translateY(0);
    }
    .nav-list {
        font-size: 24px;
        flex-direction: column;
    }
    .burger-menu {
        display: flex;
    }

    .nav.open {
        transform: translateY(0);
    }
    .burger-menu.open span:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .burger-menu.open span:nth-child(2) {
        opacity: 0;
    }

    .burger-menu.open span:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}

/* Smallest mobile view */
@media (max-width: 480px) {
    .gallery {
        grid-gap: 0.2rem;
    }
}
